@import "tailwindcss";

@theme{
  --main: #13C2AD;
}

@theme inline {
  --color-main: var(--background);
  --color-main: #13C2AD;
  --font-sans: var(--font-onest);
  /* --font-mono: var(--font-geist-mono); */
}

body {
  font-family: var(--font-onest);
}
